@model gestionCitas.Models.HistorialMedico

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Historial Medico</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diagnostico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diagnostico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tratamiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tratamiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Observaciones)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Observaciones)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Consulta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Consulta.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
